.col-md-6,
.col-sm-12 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.char-count {
  font-size: 150%;
  font-weight: bold;
}

.char-count-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.char-count {
  font-size: 150%;
  font-weight: bold;
  justify-content: flex-start;
}

.diff-add {
  background-color: #e6ffe6;
  color: green;
}

.diff-remove {
  background-color: #ffe6e6;
  color: red;
}

@media (max-width: 768px) {
  #text1,
  #text2 {
    height: 100px !important;
  }
  .char-count {
    font-size: 80% !important;
  }
  .reset-btn {
    font-size: 80%;
    padding: 6px 12px;
  }
}
