.char-count {
  font-size: 150%;
  font-weight: bold;
}

.char-count-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.char-count {
  font-size: 150%;
  font-weight: bold;
  justify-content: flex-start;
}

.diff-table {
  border-collapse: collapse;
  width: 100%;
}

.diff-table th,
.diff-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.diff-table th {
  background-color: #f2f2f2;
}

.diff-add {
  background-color: #e6ffe6;
  color: green;
}

.diff-remove {
  background-color: #ffe6e6;
  color: red;
}
